---
	import Home from "../components/Home.vue";
	import Nosotros from "../components/Nosotros.jsx";
	import Funcionalidades from "../components/Funcionalidades.vue";
	import Objetivos from "../components/Objetivos.jsx";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/css/estilos.css" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<title>Landing Page Biufort</title>
	</head>
	<body>
		<header class="w-full flex md:flex-row flex-col md:justify-between justify-center items-center flex-wrap px-8 py-4 shadow">
			<h1 class="text-4xl font-bold text-center">Biufort</h1>
				<nav class="md:my-0 my-4">
					<ul class="flex md:flex-row flex-col items-center gap-x-4 gap-y-4">
						<li><a class="duration-100 ease-in hover:border-b-2 hover:border-blue-700 font-medium" 
							href="#home">Home</a></li>
						<li><a class="duration-100 ease-in hover:border-b-2 hover:border-blue-700 font-medium" 
							href="#nosotros">Nosotros</a></li>
						<li><a class="duration-100 ease-in hover:border-b-2 hover:border-blue-700 font-medium" 
							href="#objetivos">Objetivos</a></li>
						<li><a class="duration-100 ease-in hover:border-b-2 hover:border-blue-700 font-medium" 
							href="#funcionalidades">Funcionalidades</a></li>
					</ul>
				</nav>
		</header>
		<main class="w-full mx-auto">
			<section id="home">
				<Home client:load/>
			</section>
			<section id="nosotros">
				<Nosotros client:visible/>
			</section>
			<section class="mb-20" id="objetivos">
				<Objetivos client:visible/>
			</section>
			<section id="funcionalidades">
				<Funcionalidades client:load/>
			</section>
		</main>
		<footer aria-label="Site Footer" class="bg-white">
			<section class="mx-auto max-w-screen-xl px-4 pt-16 pb-8 sm:px-6 lg:px-8">
			<article class="mx-auto max-w-md">
				<h2
				class="block text-center text-xl font-medium text-gray-900 sm:text-3xl"
				>
				¿Quieres suscribirte a nuestra web para obtener novedades?
				</h2>
		
				<form class="mt-6">
				<div class="relative max-w-lg">
					<label class="sr-only" for="email"> Email </label>
		
					<input
					class="w-full rounded-full border-gray-200 bg-gray-100 p-4 pr-32 text-sm font-medium"
					id="email"
					type="email"
					placeholder="josefideldelpino@gmail.com"
					/>
					<button
					class="absolute top-1/2 right-1 -translate-y-1/2 rounded-full bg-blue-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-blue-700"
					type="button"
					>
					Suscribete
					</button>
				</div>
				</form>
			</article>

			<div class="mt-4 border-t border-gray-100 pt-8">
				<p class="text-center text-xs leading-relaxed text-gray-500">
				© Copyright 2023. Todos los derechos reservados
		
				<br />
		
				Creado por
				<a
					href=""
					class="text-gray-700 underline transition hover:text-gray-700/75"
					>Jose Diaz</a
				>
				<a
					href=""
					class="text-gray-700 underline transition hover:text-gray-700/75"
					>Sofia Carrasco</a
				>
				<a
					href=""
					class="text-gray-700 underline transition hover:text-gray-700/75"
					>Ariel Fiorito</a
				>
				</p>
			</div>
			</section>
		</footer>
	</body>
</html>
